Package: irq-util-linux
Source: util-linux
Version: 0.1
Architecture: amd64
Maintainer: zhenwei pi <pizhenwei@bytedance.com>
Installed-Size: 100
Depends: libncursesw5
Section: admin
Priority: optional
Homepage: https://github.com/util-linux/util-linux
Description: Part of util-linux
